.contact-details{

  height: 90vh;
  
  .avarta{
    width: 100%;
    height: 300px;
    
    img{
      width: 100%;
      height: 100%;
    }
  }
  .no-avarta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    
    p{
      width: 40px;
      padding: 8px 2px;
      color: white;
      border-radius: 50%;
      text-align: center;
      font-size: 25px;
    }
  }
  .brief-about{
    display: flex;
    align-items: center;
  }

  .details{

    .details-intro{
      padding: 15px 20px;
      border-bottom: 1px solid rgb(211, 210, 210);
      h2{
        font-weight: 400;
        font-size: 30px;
        padding: 0 0 10px 0;
      }
    }
    .dial-icons{
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 10px 5px;
      border-bottom: 1px solid rgb(211, 210, 210);
      div{
        color: rgb(5, 5, 170);
        cursor: pointer;
        div{
          font-size: 20px;
        }
      }
    }
    .contact-info{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgb(211, 210, 210);
      
      .dial-numbers{
      display: flex;
      padding: 10px 0;
      
      .dail-call-icon{
        font-size: 20px;
        padding: 5px 10px;
      }
      
      .numbers-display{
        border-bottom: 1px solid rgb(211, 210, 210);
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 0 17px 0;
        cursor: pointer;
        .dail-options-icon{
          font-size: 20px;
          display: flex;
          flex-direction: row-reverse;
          color: rgb(5, 5, 170);
          column-gap: 20px;
          padding: 5px 10px;
        }
      }
    }}
    .other-details{
      border-bottom: 1px solid rgb(211, 210, 210);
      // padding: 10px 15px;
      h5{
        padding: 10px 0 0 15px;
        
      }
      .other-info-container{

        // padding: 0 15px;
      }
      .other-info{
        // padding: 10px 0;
        display: flex;
        
        .other-info-icon{
          font-size: 20px;
          padding: 22px 10px;
        }
        div:nth-child(2){
          border-bottom: 1px solid rgb(211, 210, 210);
          width: 100%; 
          padding: 20px 0;
        }
      }
    }

  }
}